/* Desktop screen size */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 18px;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    html {
        font-size: 18px;
        margin-left: 10px;
    }

    header {
        margin-left: -10px;
    }

    .project-name {
        display: grid;
        font-size: 1.25rem;
    }

    .project-name > p {
        width: 94%;
        text-align: justify;
    }

    .project-name .figures img {
        width: 70%;
    }

    .skills .profile-pic {
        width: 50%;
        height: 50%;
    }

    .contact {
        background-color: #1C82AD;
        margin-left: -10px;
        margin-bottom: -10px;
        padding-bottom: 5px;
        text-align: center;
    }

    .contact :is(h2) {
        padding-top: 5px;
    }

    .contact :is(h4, p) {
        font-size: 0.8rem;
        text-align: center;
    }

    .contact img {
        width: 25%;
        display: block;
        margin: 0 auto;
    }
}

/* Mobile Screen size */
@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
        margin-left: 10px;
    }

    header {
        margin-left: -10px;
    }

    .project-name {
        display: grid;
        font-size: 1.25rem;
    }

    .project-name > p {
        width: 94%;
        text-align: justify;
    }

    .project-name .figures img {
        width: 70%;
    }

    .skills .profile-pic {
        width: 50%;
        height: 50%;
    }

    .contact {
        background-color: #1C82AD;
        margin-left: -10px;
        margin-bottom: -10px;
        padding-bottom: 5px;
        text-align: center;
    }

    .contact :is(h2) {
        padding-top: 5px;
    }

    .contact :is(h4, p) {
        font-size: 0.8rem;
        text-align: center;
    }

    .contact img {
        width: 25%;
        display: block;
        margin: 0 auto;
    }
}

/* Nav bar styles */
html {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    color: navy;
    background-color: #d3d3d3;
}

header {
    background-color: rgb(65, 168, 252);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#dark-mode-toggle {
    width: 50px;
    height: 25px;
    float: right;
    margin-top: 13px;
    margin-right: 13px;
    border-radius: 20px;
}

button {
    background-color: #301E67;
}

.container {
    width: 80%;
    margin: 0 25px;
}

.container h1 {
    font-size: 2.5rem;
    float: left;
    margin: 0;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 5px 0;

}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
    padding-top: 20px;
    position: relative;
}

nav a:hover {
    color: #fff;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(255, 255, 255);

    width: 0%;
    top: 0;

    position: absolute;

    transition: all ease-in-out 250ms;

    border-radius: 5px;
}

nav a:hover::before {
    width: 100%;
}

nav > ul > li > a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

/* Toggle for button */
.switch {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #B6EADA;
    background-color: #B6EADA;
    margin-left: -25px;
    margin-top: 1px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
}


/* Dark mode colors */
.darkMode {
    background-color: #03001C;
    color: #B6EADA;
}

.darkMode .container h1 {
    color: #B6EADA;
}

.darkMode header {
    background-color: #301E67;
}

.darkMode nav > ul > li > a {
    color: #B6EADA;
}

.darkMode button {
    background-color: rgb(65, 168, 252);
}

.darkMode .switch {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #111;
    background-color: #111;
    margin-left: 21px;
    margin-top: 1px;
    border-radius: 50%;  
    transition: ease-in-out 0.5s; 
}

.darkMode .contact{
    background-color: #13005A;
    color: #5B8FB9;
}

.darkMode .p-github a {
    color: #1C82AD;
}

.darkMode .p-github a:hover {
    color: #03C988;
}

.darkMode .about-me {
    background-color: #0c082b;
}

/* About me section & Skill section */
@media only screen and (min-width: 800px) {
main {
    display: block;
    margin: 0 27px;
}

.about-me {
    text-align: center;
    background-color: #cdcbcb;
}

.about-me-title {
    font-size: 1.9rem;
    padding: 10px 0;
}

.about-me-block > p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 25px;
    padding-left: 25px;
}

.about-me-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "paragraph image";
}

.skills {
    position: relative;
    margin: 0 auto;
}

.skills-heading {
    text-decoration: underline;
}

.skills .profile-pic {
    opacity: 1;
    display: block;
    height: 270px;
    width: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-bottom: 10px;
    cursor: pointer;
}

.skills-list{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-5%, -125%);
    -ms-transform: translate(0%, 0%);
    text-align: center;
}

.skills:hover .profile-pic{
    opacity: 0.3;
}

.skills:hover .skills-list {
    opacity: 1;
}

.information .skills {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.information .skills .skills-list > li {
    width: 150px;
}
}
/* Project Section */
@media only screen and (min-width: 800px) {
.projects {
    font-size: 18px;
}

.projects-title {
    font-size: 1.9rem;
}

.project-name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Project p-projects figures";
    margin: 15px 0;
}

.project-name > p {
    text-align: justify;
    line-height: 25px;
}

.project {
    text-align: center;
    vertical-align: bottom;
    margin: auto 0;
}

.project .p-projects .figures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name .figures img {
    height: 100px;
    width: 100px;
    display: block;
    padding: 5px 5px;
}

.project-name .figures img:hover {
    transform: scale(7.5);
    cursor: zoom-in;
}
}
    
/* Contact Details section */
@media only screen and (min-width: 800px) {
.contact {
    margin: -27px;
    background-color: #b2ccff;
    font-size: 18px;
    color: navy;
}

.contact .contact-title {
    display: block;
    text-transform: uppercase;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
}

.contact-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "email github";
}

.contact h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.contact p {
    font-size: 1.4rem;
}

.email {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "email-img"
                         "contact-info-email"
                         "p-email";
    
}

.email-img img {
    width: 75px;
    height: 75px;
}

.email-img, .contact-info-email, .p-email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.github {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "github-img"
                         "contact-info-github"
                         "p-github";
}

.github-img img {
    width: 75px;
    height: 75px;
}

.github-img, .contact-info-github, .p-github {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-github a {
    text-decoration-line: none;
    color: navy;
    cursor: pointer;
}

.p-github a:hover {
    color: rgb(65, 168, 252);
}
}
