/* Desktop screen size */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 18px;
    }
}

/* Tablet screen size */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    html {
        font-size: 18px;
    }
}

/* Mobile Screen size */
@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    .project-name {
        display: grid;
        margin-right: 20px;
    }

    .project-name > p {
        width: fit-content;
        text-align: justify;
    }

    .project-name .figures img {
        width: 100%;
    }

}

/* Nav bar styles */
body {
    margin: 0;
    color: navy;
    background-color: #d8d8d8;
}

header {
    background-color: rgb(65, 168, 252);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#dark-mode-toggle {
    width: 50px;
    height: 25px;
    float: right;
    margin-top: 13px;
    margin-right: 13px;
    border-radius: 20px;
}

button {
    background-color: #301E67;
}

.container {
    width: 80%;
    margin: 0 25px;
}

.container h1 {
    font-size: 2.5rem;
    float: left;
    margin: 0;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 5px 0;

}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    justify-content: space-between;
    margin-left: 15px;
    padding-top: 20px;
    position: relative;
}

nav a:hover {
    color: #fff;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(255, 255, 255);

    width: 0%;
    top: 0;

    position: absolute;

    transition: all ease-in-out 250ms;

    border-radius: 5px;
}

nav a:hover::before {
    width: 100%;
}

nav > ul > li > a {
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

/* Toggle for button */
.switch {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #B6EADA;
    background-color: #B6EADA;
    margin-left: -25px;
    margin-top: 1px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
}


/* Dark mode colors */
.darkMode {
    background-color: #03001C;
    color: #B6EADA;
}

.darkMode .container h1 {
    color: #B6EADA;
}

.darkMode header {
    background-color: #301E67;
}

.darkMode nav > ul > li > a {
    color: #B6EADA;
}

.darkMode button {
    background-color: rgb(65, 168, 252);
}

.darkMode .switch {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #111;
    background-color: #111;
    margin-left: 21px;
    margin-top: 1px;
    border-radius: 50%;  
    transition: ease-in-out 0.5s; 
}

.darkMode .contact{
    background-color: #13005A;
    color: #5B8FB9;
}

.darkMode .p-github a {
    color: #1C82AD;
}

.darkMode .p-github a:hover {
    color: #03C988;
}

/* About me section */
main {
    display: block;
    margin-left: 27px;
}

.about-me p {
    font-size: 1.1rem;
}

/* Project Section */
@media only screen and (min-width: 800px) {
.projects {
    font-size: 16px;
}

.project-name {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "Project p-projects figures";
}

.project-name > p {
    text-align: justify;
}

.project {
    text-align: center;
    vertical-align: bottom;
}

.project .p-projects .figures {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name .figures img {
    height: 75px;
    width: 75px;
    display: block;
}

.project-name .figures img:hover {
    transform: scale(7.5);
}
}
    
/* Contact Details section */
.contact {
    margin-left: -27px;
    background-color: #B6EADA;
    font-size: 18px;
    color: navy;
}

.contact .contact-title {
    display: block;
    text-transform: uppercase;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
}

.contact-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "email github";
}

.contact h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.contact p {
    font-size: 1.4rem;
}

.email {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "email-img"
                         "contact-info-email"
                         "p-email";
    
}

.email-img img {
    width: 75px;
    height: 75px;
}

.email-img, .contact-info-email, .p-email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.github {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "github-img"
                         "contact-info-github"
                         "p-github";
}

.github-img img {
    width: 75px;
    height: 75px;
}

.github-img, .contact-info-github, .p-github {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-github a {
    text-decoration-line: none;
    color: navy;
    cursor: pointer;
}

.p-github a:hover {
    color: rgb(65, 168, 252);
}

